body {
  width: 1000px;
  margin: 0 auto;
  padding: 10px;

  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 60px;
  text-align: center;
}

p, li {
  font-size: 16pt;
}

img {
  width: 100%;
  height: auto;
}
